@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #b0eacd;
  text-decoration: unset;
}

ul {
  margin-left: 1.5rem;
  list-style: none;
}

button,
input [type="submit"] {
  border: none;
  background: none;
  color: unset;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 1em 0;
}

/* General */
body {
  font-family: "Roboto", sans-serif;
}

.page {
  padding: 1rem;
}
.container {
  margin: 0 auto;
  max-width: 900px;
}

/* Header */
#header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #21bf73;
}

#header .title {
  margin: 0;
  padding: 0 1rem;
  color: #f9fcfb;
}

#header .auth-options {
  height: 100%;
  display: flex;
}

#header .auth-options button {
  padding: 0 1rem;
  color: #f9fcfb;
  font-size: 1.1rem;
}

#header .auth-options button:hover {
  background-color: #b0eacd;
}

.error-notice {
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid rgb(253, 118, 118);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 191, 191);
}

.error-notice button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(253, 118, 118);
  color: #f9fcfb;
}

/* media queries */

@media screen and (max-width: 550px) {
  #header .title {
    font-size: 1.2rem;
  }

  #header .auth-options button {
    padding: 0 0.5rem;
    font-size: 0.9rem;
  }
}
