@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #2199df;
  text-decoration: unset;
}

ul {
  margin-left: 1.5rem;
  list-style: none;
}

button,
input [type="submit"] {
  border: none;
  background: none;
  color: unset;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 1em 0;
}

/* General */
body {
  font-family: "Roboto", sans-serif;
}

.page {
  padding: 1rem;
}
.container {
  margin: 0 auto;
  max-width: 900px;
}

/* Header */
#header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #7c0e0e;
}

#header .title {
  margin: 0;
  padding: 0 1rem;
  color: #fff;
}

#header .auth-options {
  height: 100%;
  display: flex;
}

#header .auth-options button {
  padding: 0 1rem;
  background-color: #310404;
  color: #fff;
  font-size: 1.1rem;
}

#header .auth-options button:hover {
  background-color: #331212;
}

/* form */

.form label,
.form input {
  display: block;
}

.form input {
  margin-bottom: 1rem;
}

.form label {
  margin-bottom: 0.2rem;
}

.form input [type="text"],
.form input [type="email"],
.form input [type="password"] {
  width: 100%;
  padding: 0.3rem;
  border: 1px solid #c2c2c2;
  background-color: #f0f0f0;
  font-size: 1.1rem;
}

.form input:focus {
  border: 1px solid rgb(47, 149, 233);
  box-shadow: inset 0px 0px 5px rgba(38, 142, 228, 0.5);
}
.form imput[type="submit"] {
  padding: 0.3rem 0.5rem;
  border: 1px solid #83f0a3;
  font-size: 1.1rem;
}

.error-notice {
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid rgb(253, 118, 118);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 191, 191);
}

.error-notice button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(253, 118, 118);
  color: #fff;
}

/* media queries */

@media screen and (max-width: 550px) {
  #header .title {
    font-size: 1.2rem;
  }

  #header .auth-options button {
    padding: 0 0.5rem;
    font-size: 0.9rem;
  }
}
